<div class="menu1">

  <div class="menu2">
    <div class="moji">
      pick up
    </div>
    <div class="moji1">
      &#x1f48b;
    </div>
  </div>

  <div class="menu-choice1">
    <%= link_to  movies_path, class: "select"  do %>
      <div class="select">
        <%= image_tag 'base1.jpg', class:"image1" %>
        <h1>BASE</h1>
      </div>
    <% end %>
    
    <%= link_to  movies_path, class: "select"  do %>
      <div class="select">
        <%= image_tag 'color2.jpg', class:"image1" %>
        <h1>COLOR</h1>
      </div>
    <% end %>

    <%= link_to  movies_path, class: "select"  do %>
      <div class="select">
        <%= image_tag 'top2.jpeg', class:"image1" %>
        <h1>TOP</h1>
      </div>
    <% end %>
  </div>

  <div class="menu-choice2">
    <%= link_to  movies_path, class: "select"  do %>
      <div class="select">
        <%= image_tag 'art1.jpg', class:"image1" %>
        <h1>ART</h1>
      </div>
    <% end %>

    <%= link_to  posts_path, class: "select"  do %>
      <div class="select">
        <%= image_tag 'pict2.jpg', class:"image1" %>
        <h1>PICT</h1>
      </div>
    <% end %>

    <%= link_to  movies_path, class: "select"  do %>
      <div class="select">
        <%= image_tag 'etc.jpg', class:"image1" %>
        <h1>POLISH</h1>
      </div>
    <% end %>
    

  </div>  
</div>