<!DOCTYPE html>
<html>
  <head>
    <title>Nailover</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">

  </head>

  <body id="top">
    <div class="side-bar">
      <div class="topicon">
        <%= link_to "NaiLover", root_path %>
      </div>

        <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <%= link_to "LOG OUT", destroy_user_session_path, method: :delete %>
            <%# <%= link_to  "投稿する", "/tweets/new", class: "post" %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "LOGIN", new_user_session_path, class: 'log' %>
            <%= link_to "SIGN UP", new_user_registration_path, class: 'log' %>
          </div>
        <% end %>

      <div class="top">
        <ul class="menu">
          <li class="menu-list">
            <% if user_signed_in? %>
              <%= link_to "MY PAGE", user_path(current_user.id), class: "menu-list__btn"  %>
            <% else %>
              <%= link_to "MY PAGE", new_user_registration_path %>
            <% end%>
          </li>
          <li class="menu-list">
            <%= link_to "MENU", menus_path, class: "menu-list__btn"  %>
          </li>  
          <li class="menu-list">
            <%= link_to "CONTACT US", contacts_path, class: "menu-list__btn"  %>
          </li>
        </ul>
        <ul class="SNS">
          <li class="SNS-list">
            <%= link_to "https://twitter.com/", class: "SNS-list__btn" do %>
              <i class="fab fa-twitter"></i>
            <% end %>
          </li>
          <li class="SNS-list">
            <%= link_to "https://www.instagram.com/", class: "SNS-list__btn" do %>
              <i class="fab fa-instagram"></i>
            <% end %>
          </li>
          <li class="SNS-list">
            <%= link_to "https://www.facebook.com/", class: "SNS-list__btn" do %>
              <i class="fab fa-facebook-square"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
